*.deb
*.dmg
*.rpm
*.so
*.tlog
*.xcscheme
.vscode
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Connect/nImOconnect
Connect/nImOconnect.rc
Doxygen_output
Makefile
Testing
_CPack_Packages
cmake_install.cmake
dumpHexOfFloat
dumpHexOfFloat.cpp
install_manifest.txt
install_manifest_applications.txt
install_manifest_exampleapps.txt
install_manifest_headers.txt
install_manifest_libraries.txt
install_manifest_manuals.txt
install_manifest_sourcecode.txt
libnImOCi.a
libnImOOCi.a
libnImOcommon.dylib
nImO/swig_nImO_out_csharp
nImO/swig_nImO_out_python
nImOConfigVersion.cmake
nImOconfig.hpp
non-iOS/examples/Ricochet/nImOricochet
non-iOS/examples/Ricochet/nImOricochet.dir/
non-iOS/examples/Ricochet/nImOricochet.rc
non-iOS/examples/Ricochet/nImOricochetControl
non-iOS/examples/Ricochet/nImOricochetControl.dir/
non-iOS/examples/Ricochet/nImOricochetControl.rc
non-iOS/ApplicationSupport/AddApplication/nImOaddApp
non-iOS/ApplicationSupport/AddApplication/nImOaddApp.dir/
non-iOS/ApplicationSupport/AddApplication/nImOaddApp.rc
non-iOS/ApplicationSupport/ListApplications/nImOlistApps
non-iOS/ApplicationSupport/ListApplications/nImOlistApps.dir/
non-iOS/ApplicationSupport/ListApplications/nImOlistApps.rc
non-iOS/ApplicationSupport/RemoveApplication/nImOremoveApp
non-iOS/ApplicationSupport/RemoveApplication/nImOremoveApp.dir/
non-iOS/ApplicationSupport/RemoveApplication/nImOremoveApp.rc
non-iOS/Bridge/nImObridge
non-iOS/Bridge/nImObridge.dir/
non-iOS/Bridge/nImObridge.rc
non-iOS/Connect/nImOconnect
non-iOS/Connect/nImOconnect.dir/
non-iOS/Connect/nImOconnect.rc
non-iOS/Disconnect/nImOdisconnect
non-iOS/Disconnect/nImOdisconnect.dir/
non-iOS/Disconnect/nImOdisconnect.rc
non-iOS/Info/nImOinfo
non-iOS/Info/nImOinfo.dir/
non-iOS/Info/nImOinfo.rc
non-iOS/Launch/nImOlaunch
non-iOS/Launch/nImOlaunch.dir/
non-iOS/Launch/nImOlaunch.rc
non-iOS/List/nImOlist
non-iOS/List/nImOlist.dir/
non-iOS/List/nImOlist.rc
non-iOS/Monitor/nImOmonitor
non-iOS/Monitor/nImOmonitor.dir/
non-iOS/Monitor/nImOmonitor.rc
non-iOS/Post/nImOpost
non-iOS/Post/nImOpost.dir/
non-iOS/Post/nImOpost.rc
non-iOS/Read/nImOread
non-iOS/Read/nImOread.dir/
non-iOS/Read/nImOread.rc
non-iOS/Registry/nImOregistry
non-iOS/Registry/nImOregistry.dir/
non-iOS/Registry/nImOregistry.rc
non-iOS/Tests/nImOargumentDescriptorsTest
non-iOS/Tests/nImOargumentDescriptorsTest.dir/
non-iOS/Tests/nImOargumentDescriptorsTest.rc
non-iOS/Tests/nImOatomicTest
non-iOS/Tests/nImOatomicTest.dir/
non-iOS/Tests/nImOatomicTest.rc
non-iOS/Tests/nImObadMessageTest
non-iOS/Tests/nImObadMessageTest.dir/
non-iOS/Tests/nImObadMessageTest.rc
non-iOS/Tests/nImOchannelTest
non-iOS/Tests/nImOchannelTest.dir/
non-iOS/Tests/nImOchannelTest.rc
non-iOS/Tests/nImOcommonTest
non-iOS/Tests/nImOcommonTest.dir/
non-iOS/Tests/nImOcommonTest.rc
non-iOS/Tests/nImOcontainerTest
non-iOS/Tests/nImOcontainerTest.dir/
non-iOS/Tests/nImOcontainerTest.rc
non-iOS/Tests/nImOconvertersTest
non-iOS/Tests/nImOconvertersTest.rc
non-iOS/Tests/nImOmessageExtractTest
non-iOS/Tests/nImOmessageExtractTest.dir/
non-iOS/Tests/nImOmessageExtractTest.rc
non-iOS/Tests/nImOmessageInsertTest
non-iOS/Tests/nImOmessageInsertTest.dir/
non-iOS/Tests/nImOmessageInsertTest.rc
non-iOS/Tests/nImOmessageTest
non-iOS/Tests/nImOmessageTest.dir/
non-iOS/Tests/nImOmessageTest.rc
non-iOS/Tests/nImOparserTest
non-iOS/Tests/nImOparserTest.dir/
non-iOS/Tests/nImOparserTest.rc
non-iOS/Tests/nImOMIMEAndMessagesTest
non-iOS/Tests/nImOMIMEAndMessagesTest.dir/
non-iOS/Tests/nImOMIMEAndMessagesTest.rc
non-iOS/Version/nImOregistry
non-iOS/Version/nImOregistry.dir/
non-iOS/Version/nImOregistry.rc
non-iOS/Tests/nImOzeroConfTest
non-iOS/Tests/nImOzeroConfTest.dir/
non-iOS/Tests/nImOzeroConfTest.rc
non-iOS/Version/nImOversion
non-iOS/Version/nImOversion.dir/
non-iOS/Version/nImOversion.rc
non-iOS/Write/nImOwrite
non-iOS/Write/nImOwrite.dir/
non-iOS/Write/nImOwrite.rc
